git+https://github.com/prashantsahlot/FrozenGram.git
py-tgcalls
git+https://github.com/yt-dlp/yt-dlp.git
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser
git+https://github.com/frozenisback/votify.git
